{% extends "../basedashboard.html" %}

{% load static %}

{% block content %}

   <!-- ======================= Cards ================== -->
   <div class="cardBox">
  
    <a href="">
      <div class="card">
        <div>
          <div class="numbers">{{sales_number}}</div>
          <div class="cardName">Sales</div>
        </div>
        <div class="iconBx">
          <ion-icon name="cart-outline"></ion-icon>
        </div>
      </div>
    </a>
   
    <a href="">
      <div class="card">
        <div>
          <div class="numbers">{{total_paid}}DA</div>
          <div class="cardName">Earning</div>
        </div>
        <div class="iconBx">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
      </div>
    </a>
  </div>

  {% if request.user.is_superuser %}
<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Recent Orders</h2>
      <a href="#" class="btn">View All</a>
    </div>

    {% comment %} !orders {% endcomment %}
    <table>
      <thead>
        <tr>
          <td>Order</td>
          <td>Price</td>
          <td></td>
          <td>Status</td>
        </tr>
      </thead>

      <tbody>
        {% for order in recent_orders  %}
        
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.price_paid}}</td>
          <td></td>
          <td><span class="status delivered">{{order.order_status}}</span></td>
        </tr>

        {% comment %} <tr>
          <td>Order 2</td>
          <td>110.00DA</td>
          <td></td>
          <td><span class="status pending">Pending</span></td>
        </tr>

        <tr>
          <td>Order 3</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status return">Return</span></td>
        </tr>

        <tr>
          <td>Order 4</td>
          <td>620.00DA</td>
          <td></td>
          <td><span class="status inProgress">In Progress</span></td>
        </tr>

        <tr>
          <td>Order 5</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status delivered">Delivered</span></td>
        </tr>

        <tr>
          <td>Order 5</td>
          <td>110.00DA</td>
          <td></td>
          <td><span class="status pending">Pending</span></td>
        </tr>

        <tr>
          <td>Order 6</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status return">Return</span></td>
        </tr>

        <tr>
          <td>Order 7</td>
          <td>620.00DA</td>
          <td></td>
          <td><span class="status inProgress">In Progress</span></td>
        </tr> {% endcomment %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  <!-- ? ================= New Customers ================ -->
  {% if request.user.is_superuser %}
    <div class="recentCustomers">
      <div class="cardHeader">
        <h2>Recent Users</h2>
      </div>

      <table>
        {% for recent_user in recent_users %}
        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/images/user.jpg" %}" alt="" /></div>
          </td>
          <td>
            <h4>{{recent_user.username}}<br /></h4>
          </td>
          <td>
            <h4>
              <span>{{recent_user.usertype}}</span>
            </h4>
          </td>
        </tr>
      

        {% comment %} <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/user3.svg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Abdelkader <br /></h4>
          </td>
          <td>
            <h4>
              <span>Vendor</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static " dashboard assets/images/user2.jpeg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Oualid <br /></h4>
          </td>
          <td>
            <h4>
              <span>Customer</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/user3.svg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Omar <br /></h4>
          </td>

          <td>
            <h4>
              <span>Customer</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/user3.svg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Ahmed <br /></h4>
          </td>
          <td>
            <h4><span>Vendor</span></h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/user3.svg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Youcef <br /></h4>
          </td>

          <td>
            <h4>
              <span>Customer</span>
            </h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/user3.svg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Kossai <br /></h4>
          </td>
          <td>
            <h4><span>Vendor</span></h4>
          </td>
        </tr>

        <tr>
          <td width="60px">
            <div class="imgBx"><img src="{% static "dashboard assets/user3.svg" %}" alt="" /></div>
          </td>
          <td>
            <h4>Alla <br /></h4>
          </td>
          <td>
            <h4>
              <span>Customer</span>
            </h4>
          </td>
        </tr> {% endcomment %}
        {% endfor %}
      </table>
      
    </div>
  {% endif %}
</div>

{% endblock content %}