{% extends "../basedashboard.html" %}

{% load static %}

{% block content %}

   <!-- ======================= Cards ================== -->
   <div class="cardBox">
  
    <a href="">
      <div class="card">
        <div>
          <div class="numbers">{{sales_number}}</div>
          <div class="cardName">Sales</div>
        </div>
        <div class="iconBx">
          <ion-icon name="cart-outline"></ion-icon>
        </div>
      </div>
    </a>
   
    <a href="">
      <div class="card">
        <div>
          <div class="numbers">{{total_paid}}.00 DA</div>
          <div class="cardName">Earning</div>
        </div>
        <div class="iconBx">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
      </div>
    </a>
  </div>

<div class="details">
  <div class="recentOrders">
    <div class="cardHeader">
      <h2>Recent Orders</h2>
      <a href="#" class="btn">View All</a>
    </div>

    <table>
      <thead>
        <tr>
          <td>Order</td>
          <td>Price</td>
          <td></td>
          <td>Status</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Order 1</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status delivered">Delivered</span></td>
        </tr>

        <tr>
          <td>Order 2</td>
          <td>110.00DA</td>
          <td></td>
          <td><span class="status pending">Pending</span></td>
        </tr>

        <tr>
          <td>Order 3</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status return">Return</span></td>
        </tr>

        <tr>
          <td>Order 4</td>
          <td>620.00DA</td>
          <td></td>
          <td><span class="status inProgress">In Progress</span></td>
        </tr>

        <tr>
          <td>Order 5</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status delivered">Delivered</span></td>
        </tr>

        <tr>
          <td>Order 5</td>
          <td>110.00DA</td>
          <td></td>
          <td><span class="status pending">Pending</span></td>
        </tr>

        <tr>
          <td>Order 6</td>
          <td>1200.00DA</td>
          <td></td>
          <td><span class="status return">Return</span></td>
        </tr>

        <tr>
          <td>Order 7</td>
          <td>620.00DA</td>
          <td></td>
          <td><span class="status inProgress">In Progress</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ? ================= New Customers ================ -->
  <div class="recentCustomers">
    <div class="cardHeader">
      <h2>Recent Users</h2>
    </div>

    <table>
      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Ismalil <br /></h4>
        </td>
        <td>
          <h4>
            <span>Vendor</span>
          </h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Abdelkader <br /></h4>
        </td>
        <td>
          <h4>
            <span>Vendor</span>
          </h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Oualid <br /></h4>
        </td>
        <td>
          <h4>
            <span>Customer</span>
          </h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Omar <br /></h4>
        </td>

        <td>
          <h4>
            <span>Customer</span>
          </h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Ahmed <br /></h4>
        </td>
        <td>
          <h4><span>Vendor</span></h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Youcef <br /></h4>
        </td>

        <td>
          <h4>
            <span>Customer</span>
          </h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Kossai <br /></h4>
        </td>
        <td>
          <h4><span>Vendor</span></h4>
        </td>
      </tr>

      <tr>
        <td width="60px">
          <div class="imgBx"><img src="assets/images/user-3.svg" alt="" /></div>
        </td>
        <td>
          <h4>Alla <br /></h4>
        </td>
        <td>
          <h4>
            <span>Customer</span>
          </h4>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock content %}