{% extends "../basedashboard.html" %}

{% load static %}






{% block content %}


      <div class="table_container">
        <div class="table_body">
          <div class="selles-header">
            <h2>Producs</h2>
            <a href="" class="btn">Add Product</a>
          </div>
          <table id="myTable">
            <thead>
              <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Qunatity</td>
              </tr>
            </thead>

            <tbody>

              {% for product in vendor_products %}
              <tr class="table_row">
                <td class="">{{product.name}}</td>
                <td class="">{{product.price}} DA</td>
                <td class="">{{product.quantity}}</td>
                <td>
                  <button class="btn edit_btn yellowBtn">Edit</button>
                </td>
                <td>
                  <button class="btn delete_row deleteBtn">delete</button>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>

      
{% endblock content %}



