{% extends "../basedashboard.html" %}

{% load static %}






{% block content %}


      <div class="table_container">
        <div class="table_body">
          <div class="selles-header">
            <h2>Producs</h2>
            <a href="" class="btn">Add Product</a>
          </div>
          <table id="myTable">
            <thead>
              <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Qunatity</td>
              </tr>
            </thead>

            <tbody>
              <tr class="table_row">
                <td class="">Prodcut 1</td>
                <td class="">$1200</td>
                <td class="">22</td>
                <td>
                  <button class="btn edit_btn yellowBtn">Edit</button>
                </td>
                <td>
                  <button class="btn delete_row deleteBtn">delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      
{% endblock content %}




