{% extends "../basedashboard.html" %}

{% load static %}






{% block content %}

      <div class="table_container">
        {% if request.user.is_superuser %}
        
          <form action="" class="form-inline search-for-vendor">
            
          <input type="text" name="vendor" value="{{request.GET.vendor}}" placeholder="Specific Vendor..." id="" />
          <button onclick="this.form.submit()" class="">Serach</button>
          </form>
        

        {% endif %}
        
        <div class="table_body">
          <div class="selles-header">
            <h2>{{who}} Selles</h2>
          </div>
          <table id="myTable">
            <thead>
              <tr>
                <td>Vendor</td>
                <td>Cusotmer</td>
                <td>item</td>
                <td>Ammonut</td>
                <td>Date</td>
              </tr>
            </thead>

            <tbody>
              {% for order in orders %}
              <tr class="table_row">
                <td class="">{{order.store.vendor}}</td>
                <td class="">{% if order.customer is None%}anonymous {% else %}{{order.customer}}{% endif %}</td>
                <td class="">{{order.item}}</td>
                <td class="">{{order.price_paid}} DA</td>
                <td class="">{{order.created_on}}</td>
                {% comment %} <td>
                  <button class="btn yellowBtn delete_row">delete</button>
                </td> {% endcomment %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

{% endblock content %}




        