<header>
    <div class="header-main">
      <div class="container">
        <a href="index.html" class="header-logo"> <span>X</span>Commerce </a>

        <div class="header-search-container">
          <input type="search" name="search" class="search-field" placeholder="Enter your product name..." />

          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </div>

        <div class="header-user-actions">
          <button class="action-btn">
            <a href="dashboard/index.html">
              <ion-icon name="person-outline"></ion-icon>
            </a>
          </button>

          <button class="action-btn">
            <a href="card.html">
              <i class="bi bi-cart"></i>
              <span class="count">0</span>
            </a>
          </button>

          <button class="action-btn">
            <a href=""></a>
            <i class="bi bi-list"></i>
          </button>
        </div>
      </div>
    </div>
  </header>