<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../btsp-5.3.3/css/bootstrap.css" />
    <link rel="stylesheet" href="login.css" />
    <title>Sing up</title>
  </head>
  <body>
    <!--__________________ Main Container   __________________-->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
      <!--__________________ Login Container __________________-->
      <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--__________________Left Box __________________-->
        <div
          class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
          style="background: #103cbe"
        >
          <div class="featured-image mb-3">
            <img src="assets/1.png" class="img-fluid" style="width: 250px" />
          </div>
          <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600">
            Join Us
          </p>
          <small
            class="text-white text-wrap text-center"
            style="width: 17rem; font-family: 'Courier New', Courier, monospace"
            >Wellcome To Our X-Commerce</small
          >
        </div>
        <!--__________________Right Box __________________-->

        <div class="col-md-6 right-box">
          <div class="row align-items-center">
            <div class="header-text mb-4">
              <h2>Wellcome To Our <br />X-Commerce</h2>
              <p>Create Account is Free</p>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="First Name" />
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Last Name" />
            </div>
            <div class="input-group mb-3">
              <input type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email" />
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password" />
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-lg btn-primary w-100 fs-6">Sing up</button>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-lg btn-light w-100 fs-6">
                <img src="assets/google.png" style="width: 20px" class="me-2" /><small>Sign In with Google</small>
              </button>
            </div>
            <div class="row">
              <small>You have an Account? <a href="login.html">Login</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../btsp-5.3.3/js/bootstrap.js"></script>
  </body>
</html>
