{% load static %}




<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/dashboard/dashboard2.css" %}" />
    <title>Dashboard</title>
  </head>



  <body>
    
    <div class="container">

      <!-- ================>   Slider  : sidebar <=========== -->

      <div class="slider">
        <ul>
          <li>
            <a href="{% url "the main" %}">
              <span class="icon"> <ion-icon name="logo-xing"></ion-icon>   </span>
              <span class="logo"> Ecommerce </span>
            </a>
          </li>
          
          <li class="nav">
            <a href="{% url "dashboard" %}">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">Dashboard</span>
            </a>
          </li>


          <li class="nav">
            <a href="{% url "dashboard products" %}">
              <span class="icon"><ion-icon name="cube-outline"></ion-icon></span>
              <span class="title">Products</span>
            </a>
          </li>

        

          <li class="nav">
            <a href="{% url "dashboard sellesdata" %}">
              <span class="icon"><ion-icon name="stats-chart-outline"></ion-icon></span>
              <span class="title">Selles</span>
            </a>
          </li>


          {% if  request.user.is_superuser %}
          <li class="nav">
            <a href="{% url "dashboard users" %}">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Users</span>
            </a>
          </li>


          <li class="nav">
                <a href="{% url "dashboard category" %}">
                  <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                  <span class="title">Category</span>
                </a>
          </li>

          
          {% endif %}

          

      

          {% comment %} change this {% endcomment %}
          {% comment %} <li class="nav"> {% endcomment %}
            
            {% comment %} to be worked on  {% endcomment %}

            {% comment %} <form method="post" action="{% url 'logout' %}" class="link-style">  
              {% csrf_token %}
              <button type="" class="button">  
                <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                <span class="title">Signout</span>
              </button>
            </form> {% endcomment %}

            

            {% comment %} <a href="" type="submit">
                  <span class="icon "><ion-icon name="log-out-outline"></ion-icon></span>
                  <span class="title">Singout</span>
              </a> {% endcomment %}
          
           
          {% comment %} </li> {% endcomment %}
        </ul>
      </div>






      <!-- ! ======================> MAIN <================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
          <div class="search">
            <label for="">
              <input type="text" placeholder="Search..." />
              <ion-icon name="search-outline@"></ion-icon>
            </label>
          </div>
          <div class="user-info" onmouseover="togglMenu()">
            <a href="">
              <p class="user-name">{{user.username}}</p>
              <div class="user">
                <img src="{% static "dashboard assets/images/user2.jpeg" %}" alt="" />
              </div>
            </a>
          </div>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="info">
                <div class="user2">
                  <img src="{% static "dashboard assets/images/user2.jpeg" %}" alt="" />
                </div>
                <h3 class="user-name">{{user.email}}</h3>
              </div>
              <hr />
              <a href="{%url 'profile'%}" class="sub-menu-link" style="width:100%">
                <img src="{% static "dashboard assets/images/profile.jpeg" %}" alt="" />
                <p>Edit Profile</p>
                <span>></span>
              </a>
              <form method="post" action="{% url "logout" %}"  >
                {% csrf_token %}
                <button onclick="this.form.submit()" class="sub-menu-link" style="outline:None; background:transparent;border:none;width:100%;">
                 <img src=" {% static "dashboard assets/images/logout.jpeg" %} " alt="" />
                  <p>Log out</p>
                  <span>></span> 
                </button>
              </form>
            </div>
          </div>
 

        </div>
        {% block content %}
                  
                  
                  
                  
                  
                 {% endblock content %} 
    </div>
    <script src="{% static "js/dashboard/dashboard2.js" %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- =====>icons <==== -->
  </body>
</html>



{% comment %} {% extends "../dashboardbase.html" %}
{% block content %}

{% endblock content %} {% endcomment %}