{% load static %}
<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingDung | Profile Template</title>
    <link rel="stylesheet" href="{% static "css/for accounts app/profile_style.css" %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container light-style flex-grow-1 container-p-y">
        <form method="post" action="{% url "profile" %}" enctype="multipart/form-data">

        
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-info">Info</a>
                        
                    {% if the_user.usertype != 'customer' %}

                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#store-info">Store information </a> 
                    {% endif %}

                        {% comment %} <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">Connections</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-notifications">Notifications</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">



                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <img width="260px"  src="{% if user.customer_info.image %}{{user.customer_info.image.url}}{% endif %}" alt
                                    class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" style="visibility:hidden;" name="the_personal_pic" class="account-settings-fileinput">
                                    </label> 
                                    {% comment %}<button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                     <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div> {% endcomment %}
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input type="text" name="the_username" class="form-control mb-1" value="{{the_user.username}}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input type="text" name="the_first_name" class="form-control" value="{{the_user.firstname}}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" name="the_lastname" class="form-control" value="{{the_user.lastname}}">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" name="the_email" class="form-control mb-1" value="{{the_user.email}}">
                                    {% comment %} <div class="alert alert-warning mt-3">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="javascript:void(0)">Resend confirmation</a>
                                    </div> {% endcomment %}
                                </div>
                                
                            </div>
                        </div>




                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" name="current_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" name="new_password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" name="new_password_confirmation" class="form-control">
                                </div>
                            </div>
                        </div>




                        <div class="tab-pane fade" id="account-info">
                            <div class="card-body pb-2">
                                {% if the_user.usertype != 'customer' %}
                                    <div class="form-group">
                                        <label class="form-label">Bio</label>
                                        <textarea class="form-control" name="the_bio"
                                            rows="5"> {{the_vendor_info.bio}}</textarea>
                                    </div>
                                {% endif %}
                                {% comment %} <div class="form-group">
                                    <label class="form-label">Birthday</label>
                                    <input type="text" class="form-control" value="May 3, 1995">
                                </div> {% endcomment %}
                                <div class="form-group">
                                    <label class="form-label">lives in</label>
                                    <input type="text" name="where_lives" class="form-control" value="{{the_customer_info.lives_in}}">

                                </div>
                            </div>
                            <hr class="border-light m-0">
                            {% comment %} <div class="card-body pb-2">
                                <h6 class="mb-4">Contacts</h6>
                                <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" value="+0 (123) 456 7891">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Website</label>
                                    <input type="text" class="form-control" value>
                                </div>
                            </div> {% endcomment %}
                        </div>






                        {% if the_user.usertype != 'customer' %}
                            <div class="tab-pane fade" id="store-info">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Store Name</label>
                                        <input type="text" name="the_store_name" class="form-control" value="{{the_store.store_name}}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">slogan</label>
                                        <input type="text" name="the_slogan" class="form-control" value="{{the_store.slogan}}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Location</label>
                                        <input type="text" name="the_location" class="form-control" value="{{the_store.location}}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">deposit account</label>
                                        <input type="text" name="the_store_deposit_account" class="form-control" value="{{the_store.deposit_account}}">
                                    </div>

                                    <div class="card-body media align-items-center">
                                        <img width="220px" src="{% if the_store.logo %}{{the_store.logo.url}}{% endif %}" alt
                                            class="d-block ui-w-80">
                                        <div class="media-body ml-4">
                                            <label class="btn btn-outline-primary">
                                                Upload store logo 
                                                <input type="file" style="visibility:hidden;" name="the_store_logo" class="account-settings-fileinput">
                                            </label> 
                                            {% comment %}<button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                             <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div> {% endcomment %}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> 
                        {% endif %}

                        {% comment %}
                        <div class="tab-pane fade" id="account-connections">
                            <div class="card-body">
                                <button type="button" class="btn btn-twitter">Connect to
                                    <strong>Twitter</strong></button>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <h5 class="mb-2">
                                    <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i
                                            class="ion ion-md-close"></i> Remove</a>
                                    <i class="ion ion-logo-google text-google"></i>
                                    You are connected to Google:
                                </h5>
                                <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                    data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <button type="button" class="btn btn-facebook">Connect to
                                    <strong>Facebook</strong></button>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <button type="button" class="btn btn-instagram">Connect to
                                    <strong>Instagram</strong></button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-notifications">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Activity</h6>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone comments on my article</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone answers on my forum
                                            thread</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Email me when someone follows me</span>
                                    </label>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Application</h6>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">News and announcements</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input">
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly product updates</span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="switcher">
                                        <input type="checkbox" class="switcher-input" checked>
                                        <span class="switcher-indicator">
                                            <span class="switcher-yes"></span>
                                            <span class="switcher-no"></span>
                                        </span>
                                        <span class="switcher-label">Weekly blog digest</span>
                                    </label>
                                </div>
                            </div>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right mt-3">
            <button type="submit" onclick="this.form.submit()" class="btn btn-primary">Save changes</button>
            <a href="{% url "dashboard" %}"><button type="button" class="btn btn-default">Cancel</button></a>
        </div>
    </form>




    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>
</body>

</html>