<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>the test page</p>

    <br>

    <a href="{% url "cart" %}">cart</a>
    <br>

    <a href="{% url "the main" %}">main page</a>
    <br>



    {% if user.is_authenticated %}
    
   


    <br>

    <p>hello {{user}}  </p>

        {% if user.is_staff %}
        <p> you are a master</p>
        {% else %}
            {% autoescape on %}
                
            {% endautoescape %}
            

        {% endif %}

       

    
    {% else %}{% comment %} now if not logged in {% endcomment %}
    
    <br>

    <p>who are you mister?</p>

    <a href="{% url "new-vendor" %}"> register as vendor</a>
    {% endif %}


</br>
</br>



    <a href ="{% url 'login' %}">login</a>
    <br/>
    <a href ="{% url 'logout' %}">logout   :u have to use the form logout</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout from form</button>
    </form>

</body>
</html>