{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'payment/payment-style.css'%}">
</head>
<body>
    <div class="payment_body">
        <form action="">
          <div class="payment_row">
            <div class="payment_column">
              <h3 class="title">Billing Address</h3>
              <div class="input_box">
                <span>Full Name</span>
                <input type="text" name="" id="" />
              </div>
              <div class="input_box">
                <span>Email:</span>
                <input type="email" name="" id="" />
              </div>
              <div class="input_box">
                <span>Address</span>
                <input type="text" name="" id="" />
              </div>
              <div class="input_box">
                <span>City</span>
                <input type="text" name="" id="" />
              </div>
              <div class="flex">
                <div class="input_box">
                  <span>State:</span>
                  <input type="text" name="" id="" />
                </div>
                <div class="input_box">
                  <span>Zip Code:</span>
                  <input type="number" placeholder="123 456 789" name="" id="" />
                </div>
              </div>
            </div>
            <div class="payment_column">
              <h3 class="title">Pyment</h3>
              <div class="input_box">
                <span>Cards Accepted:</span>
                <img src="{% static 'payment/images/imgcards.jpg' %}" alt="" />
              </div>
              <div class="input_box">
                <span>Name On Card:</span>
                <input type="text" name="" id="" />
              </div>
              <div class="input_box">
                <span>Credit Card Number:</span>
                <input type="number" placeholder="1111 2222 3333 4444" name="" id="" />
              </div>
              <div class="input_box">
                <span>Exp.Month:</span>
                <input type="month" placeholder="July" name="" id="" />
              </div>
              <div class="flex">
                <div class="input_box">
                  <span>Exp Year:</span>
                  <input type="number" placeholder="2024" name="" id="" />
                </div>
                <div class="input_box">
                  <span>CVV:</span>
                  <input type="number" placeholder="123 456 789" name="" id="" />
                </div>
              </div>
            </div>
          </div>
          <div class="btns">
            <button class="payment_btn" type="submit">Pay</button>
            <button class="cancel_btn">cancel</button>
          </div>
          
          
        </form>
      </div>

    

    {{paypal.render}}
</body>
</html>