{% load static %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- taiwindcs -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <!-- main style css  -->
    <!-- font link -->

    <link
      rel="https://gistcdn.githack.com/mfd/7c7a915eb31474cc8c6a65066a4c4dc3/raw/f0f2fb94c21dea904812a53e0eb6cf0bc87f3754/GTWalsheimPro.css"
    />

    <link rel="website icon" href="{% static "assets/logo.png" %}" type="png" />

    <title>x commerce</title>
    <link rel="stylesheet" href="{% static "css/last style.css" %}" />
    <link rel="stylesheet" href="{% static "css/navbar.css" %}" />

    


  </head>













  <body>
   


{% include "components/navbar2.html" %}



{% for category in categories %}


    <section>
      
      <div class="title">
        <h2>{{category}}</h2>
        <button><a href="showCategory.html">Show All</a></button>
      </div>


      
                <div class="product">
                  <button class="pre-btn">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                  </button>
                  <button class="nxt-btn">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </button>




                    <div class="product-container">


                      {% comment %} each product {% endcomment %}
                      {% for product in products  %}
                       {% if product.category == category %}
                              

                                <div class="product-card">
                                  <div class="product-image">
                                    {% if product.is_discounted %}

                                          <span class="discount-tag">{{product.get_discount}}% off</span>
                                    {% endif %}
                                    <a href="{% url "product" product.id%}">
                                     {% if product.image %} <img src="{{product.image.url}}" class="product-thumb" alt="" />{% endif %}
                                    </a>
                                    <a href="{%url "add cart" product.id%}"> <button class="card-btn">add to Cart</button></a>
                                  </div>



                                  <div class="product-info">
                                    <h2 class="product-brand">{{product.name}}</h2>

                                    {% if not product.is_discounted  %}
                                      <span class="price">{{ product.price }}DA </span>

                                    {% else %}
                                        
                                      <span class="price">{{ product.promotion_price }}DA </span>
                                      <span class="actual-price">{{product.price}}DA</span> 
                                    {% endif %}
                                    
                                    <p class="product-short-description">
                                      {{product.small_description}}
                                    </p>
                                  </div>
                                </div>

                       {% endif %}
                      {% endfor %}
                    </div>
               
            </div>
        

    </section>


    {% endfor %}




              
          



    {% include "components/comparator.html" with comparator_items=comparator_items %}
    <script src="{% static "js/dashboard/dashboard2.js" %}"></script>
    


    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="{% static "js/mainscript.js" %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  




  </body>
</html>
